<div class="loading-wrapper"
     ng-show="AppManagerCtrl.commonService.getLoading()"
     ng-class="'theme-' + AppManagerCtrl.app.color">
    <md-progress-circular class="loader" md-mode="indeterminate">
    </md-progress-circular>
</div>

<div ng-class="{'content-loading': AppManagerCtrl.commonService.getLoading()}"
     class="container {{'theme-' + AppManagerCtrl.app.color}}">

    <menu-bar></menu-bar>

    <div id="current-running-application"
         ng-include="AppManagerCtrl.app.template"></div>
</div>


