<div class="loading-wrapper theme-red"
     ng-show="AuthCtrl.loading">
    <md-progress-circular class="loader" md-mode="indeterminate">
    </md-progress-circular>
</div>

<div class="login-wrapper" ng-class="{'content-loading': AuthCtrl.loading}">

    <menu-bar></menu-bar>

    <div layout="row" layout-wrap flex>
        <div class="login-box" flex-xs="100" flex-sm="100" flex-gt-sm="35">
            <div class="md-display-2 login-title">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Login
            </div>

            <div class="login-error">
                {{AuthCtrl.loginError}}
            </div>

            <md-input-container class="login-input">
                <label class="login-label-with-icon">E-mail address</label>
                <i class="fa fa-user login-user-icon"></i>
                <input type="email" class="display-inline-important login-input"
                       ng-model="AuthCtrl.loginUserData.email" required
                       ng-keydown="AuthCtrl.login($event)">
            </md-input-container>

            <md-input-container class="login-input">
                <label class="login-label-with-icon">Password</label>
                <i class="fa fa-unlock-alt login-password-icon"></i>
                <input type="password" class="display-inline-important login-input"
                       ng-model="AuthCtrl.loginUserData.password" required
                       ng-keydown="AuthCtrl.login($event)">
            </md-input-container>

            <md-input-container layout="row" class="login-buttons" layout-align="center center"
                                layout-wrap>
                <md-button class="md-raised md-warn login-button" ng-click="AuthCtrl.login({keyCode: 13})">Login</md-button>
                <md-button class="md-raised register-button" ng-click="AuthCtrl.showRegistrationPanel()">Register
                </md-button>
            </md-input-container>
        </div>

        <div ng-include="'/views/register.html'" flex-xs="100" flex-sm="100" flex-gt-sm="60"
             ng-if="AuthCtrl.showRegistration" class="registration-panel"></div>
    </div>
</div>


