<div id="login-top-menu" layout="row" layout-wrap>
    <div flex="100"
         class="profile-info"
         ng-show="AppManagerCtrl.isAuthenticated">

        <div layout="column" layout-align="center center">
            <md-menu md-offset="0 -7">
                <md-button aria-label="Settings" class="md-icon-button settings-icon" ng-click="$mdOpenMenu($event)">
                    <div class="clickable">
                        <i class="fa fa-user profile-icon"></i>
                        <div class="profile-info-username">{{AppManagerCtrl.username}}</div>
                    </div>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="AppManagerCtrl.setActiveApp('profile')"><span md-menu-align-target>My profile</span>
                            {{item}}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="AppManagerCtrl.logout()"><span md-menu-align-target>Logout</span> {{item}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</div>

<div id="login-bottom-menu"
     layout="row"
     layout-wrap>
    <div flex-gt-xs="40"
         flex-xs="90"
         class="application-title">
        <div ng-bind="AppManagerCtrl.app.title"></div>
    </div>

    <div flex-gt-xs="60"
         flex-xs="100"
         class="running-applications"
         ng-show="AppManagerCtrl.isAuthenticated">
        <div ng-repeat="application in AppManagerCtrl.allApps">
            <i ng-if="application.id === AppManagerCtrl.app.id"
               class="{{application.icon}} md-whiteframe-5dp application-icon has-notification"
               ng-click="AppManagerCtrl.setActiveApp(application.id)"></i>
            <i ng-if="application.id !== AppManagerCtrl.app.id"
               class="{{application.icon}} application-icon"
               ng-click="AppManagerCtrl.setActiveApp(application.id)"></i>
        </div>
    </div>
</div>
