<div aria-label="Register" class="register-box">
    <div class="md-display-2 register-title">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        Register
    </div>
    <div class="registration-success" ng-show="!AuthCtrl.registrationError.error">
        {{AuthCtrl.registrationError.value}}
    </div>
    <div class="registration-error" ng-show="AuthCtrl.registrationError.error">
        {{AuthCtrl.registrationError.value}}
    </div>
    <form name="AuthCtrl.registerForm">
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>First Name</label>
                <input required name="firstName" ng-model="AuthCtrl.registerUserData.firstName" maxlength="50">
                <div ng-messages="AuthCtrl.registerForm.firstName.$error">
                    <div ng-message="required">First name is required.</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>Last Name</label>
                <input required name="lastName" ng-model="AuthCtrl.registerUserData.lastName" maxlength="50">
                <div ng-messages="AuthCtrl.registerForm.lastName.$error">
                    <div ng-message="required">Last name is required.</div>
                </div>
            </md-input-container>
        </div>

        <div layout layout-sm="column">
            <md-input-container flex>
                <label>E-mail address</label>
                <input type="email" required name="email" ng-model="AuthCtrl.registerUserData.email"
                       ng-pattern="/^.+@.+\..+$/" maxlength="50">
                <div ng-messages="AuthCtrl.registerForm.email.$error">
                    <div ng-message-exp="['required','pattern']">Required and must look like an e-mail address.
                    </div>
                </div>
            </md-input-container>
        </div>

        <div layout layout-sm="column">
            <md-input-container flex class="display-inline-important">
                <label class="display-block">Password</label>
                <input class="display-inline-important" type="{{AuthCtrl.passwordType}}" required name="password"
                       id="registrationPanelPassword"
                       ng-model="AuthCtrl.registerUserData.password" minlength="6">
                <i class="display-inline-important fa fa-eye active-password-viewer"
                   ng-click="AuthCtrl.changePasswordType();"
                   ng-class="{'active-password-viewer-active': AuthCtrl.passwordType==='text'}"></i>
                <div ng-messages="AuthCtrl.registerForm.password.$error">
                    <div ng-message-exp="['required','minlength']">Must be at least 6 characters long.</div>
                </div>
            </md-input-container>
        </div>

        <div flex>
            <p>Date of birth</p>
            <md-datepicker required name="dateOfBirth" ng-model="AuthCtrl.registerUserData.dateOfBirth"
                           md-placeholder="Pick a date"
                           ng-change="AuthCtrl.checkErrors()"></md-datepicker>
            <div ng-messages="AuthCtrl.registerForm.dateOfBirth.$error">
                <div ng-message="required">Date of birth is required.</div>
            </div>
        </div>

        <md-input-container layout-sm="column" layout-align="center center" layout-wrap
                            class="registration-send-panel">
            <md-button class="md-raised" ng-click="AuthCtrl.resetRegistrationForm()">Reset</md-button>
            <md-button class="md-raised md-primary" ng-click="AuthCtrl.registerUser()"
                       ng-disabled="AuthCtrl.registerForm.$invalid"
                       ng-class="{'registration-available': !AuthCtrl.registerForm.$invalid}">
                Register
            </md-button>
        </md-input-container>
    </form>
</div>
