<div ng-controller="DashboardCtrl as DashboardCtrl">
    <div class="app-container" layout-gt-sm="row" layout-xs="column" layout-sm="column">
        <div class="dashboard-wrapper" flex-gt-sm="65" flex-sm="100" flex-xs="100">
            <span class="md-headline">News feed</span>
            <span>
                <md-button class="md-warn" ng-click="DashboardCtrl.getDashboardNews()">Refresh</md-button>
            </span>
            <div class="dashboard-item" ng-repeat="item in DashboardCtrl.model.news" flex layout="row">
                <div flex-gt-sm="5" flex-xs="15" flex-sm="10"
                     ng-click="DashboardCtrl.viewProfile(item.ownerPersonObject)">
                    <img class="profile-picture" ng-src="{{item.ownerPersonObject.profilePicture}}"/>
                </div>
                <div class="details" flex-xs="85" flex-sm="90" flex-gt-sm="95">
                    <span>At {{ item.created | date }}</span>,
                    <span ng-click="DashboardCtrl.viewNote(item)">
                        <span class="owner-name">{{ item.ownerName }}</span>
                        <span class="text">uploaded a new Note</span><br>
                        <span class="title">{{ item.title.substring(0, 50) }}</span>
                    </span>
                    <br>
                    <likes note="item"></likes>
                </div>
            </div>
        </div>

        <div class="dashboard-hints" flex-gt-sm="35" flex-sm="100" flex-xs="100">
            <span class="md-headline">Hints</span>
            <div class="hint red">
                <span class="keyword">Navigate</span> through the application by using the icons in the top menu. Click
                an icon to open the
                corresponding application.
            </div>
            <div class="hint red">
                <span class="keyword">Available applications</span>: Dashboard, Profile viewer, Note Uploader,
                Note Manager, Messages and Note/User Finder.
            </div>
            <div class="hint red">
                <span class="keyword">Logout</span> by clicking on your profile on the top right and selecting Logout.
            </div>
        </div>
    </div>
</div>
