<div ng-controller="FinderCtrl as FinderCtrl"
     class="note-list">
    <div class="app-menu" layout="row" layout-wrap>
        <div ng-click="FinderCtrl.changeTab('note')"
             class="upload-menu-item"
             flex-gt-lg="10"
             flex-lg="20"
             flex-md="33"
             flex-sm="50"
             flex-xs="100"
             ng-class="{'active-menu md-whiteframe-5dp' : FinderCtrl.model.tab === 'note'}">
            <div layout="row">
                <div flex="20">
                    <i class="fa fa-sticky-note"></i>
                </div>
                <div flex="80">
                    Find Notes
                </div>
            </div>
        </div>
        <div ng-click="FinderCtrl.changeTab('user')"
             class="upload-menu-item"
             flex-gt-lg="10"
             flex-lg="20"
             flex-md="33"
             flex-sm="50"
             flex-xs="100"
             ng-class="{'active-menu md-whiteframe-5dp' : FinderCtrl.model.tab === 'user'}">
            <div layout="row">
                <div flex="20">
                    <i class="fa fa-users"></i>
                </div>
                <div flex="80">
                    Find Users
                </div>
            </div>
        </div>
        <div ng-click="FinderCtrl.changeTab('viewer')"
             class="upload-menu-item"
             flex-gt-lg="10"
             flex-lg="20"
             flex-md="33"
             flex-sm="50"
             flex-xs="100"
             ng-class="{'active-menu md-whiteframe-5dp' : FinderCtrl.model.tab === 'viewer'}">
            <div layout="row">
                <div flex="20">
                    <i class="fa fa-eye"></i>
                </div>
                <div flex="80">
                    Note Viewer
                </div>
            </div>
        </div>
        <div ng-click="FinderCtrl.changeTab('profile')"
             class="upload-menu-item"
             flex-gt-lg="10"
             flex-lg="20"
             flex-md="33"
             flex-sm="50"
             flex-xs="100"
             ng-class="{'active-menu md-whiteframe-5dp' : FinderCtrl.model.tab === 'profile'}">
            <div layout="row">
                <div flex="20">
                    <i class="fa fa-user"></i>
                </div>
                <div flex="80">
                    Profile viewer
                </div>
            </div>
        </div>
    </div>

    <div class="app-container">
        <div ng-show="FinderCtrl.model.tab === 'note'">
            <md-input-container>
                <label>Start typing here</label>
                <input type="text" ng-model="FinderCtrl.model.noteSearchValue"
                       ng-model-options="{ debounce: 300 }"
                       ng-change="FinderCtrl.find()">
            </md-input-container>

            <md-list flex ng-if="FinderCtrl.model.notes.length > 0">
                <md-list-item class="md-3-line noright"
                              ng-repeat="(index, note) in FinderCtrl.model.notes">

                    <div class="md-list-item-text" layout="column">
                    <span ng-click="FinderCtrl.open(note)"
                          class="note-item">
                        <h3>{{ note.title }}</h3>
                        <h4>{{ note.ownerName }}</h4>
                        <p>Created: {{ note.created | date}}, Modified: {{ note.modified | date }}</p>
                    </span>

                        <div flex class="note-details">
                            <likes note="note"></likes>

                            <span class="privacy-details">
                            <i ng-show="FinderCtrl.showPrivacy(note.privacy, 'public')" class="fa fa-unlock"
                               aria-hidden="true"></i>
                            <i ng-show="FinderCtrl.showPrivacy(note.privacy, 'private')" class="fa fa-lock"
                               aria-hidden="true"></i>
                            <i ng-show="FinderCtrl.showPrivacy(note.privacy, 'custom')" class="fa fa-share-alt"
                               aria-hidden="true"></i>
                        </span>

                            <span class="favourite-add">
                            <i class="fa fa-star-o" aria-hidden="true" ng-if="!FinderCtrl.isFavourite(note._id)"
                               ng-click="FinderCtrl.addToFavourite(note._id)"></i>
                            <i class="fa fa-star" aria-hidden="true" ng-if="FinderCtrl.isFavourite(note._id)"
                               ng-click="FinderCtrl.removeFromFavourite(note._id)"></i>
                        </span>
                        </div>
                    </div>
                </md-list-item>
            </md-list>

            <div ng-if="FinderCtrl.model.notes.length === 0">
                No results.
            </div>
        </div>

        <div ng-show="FinderCtrl.model.tab === 'user'" class="user-search">
            <md-input-container>
                <label>Start typing here</label>
                <input type="text" ng-model="FinderCtrl.model.userSearchValue"
                       ng-model-options="{ debounce: 300 }"
                       ng-change="FinderCtrl.findUsers()">
            </md-input-container>

            <div class="user-frame-wrapper" flex>
                <div class="user-frame" ng-repeat="(index, person) in FinderCtrl.model.users"
                     ng-click="FinderCtrl.viewProfile(person)">
                    <image ng-src="{{person.profilePicture}}"></image>
                    <div class="name">{{person.firstName + ' ' + person.lastName}}</div>
                </div>
            </div>
        </div>

        <div ng-show="FinderCtrl.model.tab === 'viewer'"
             class="note-viewer">
            <div ng-if="!FinderCtrl.model.activeNote" class="md-headline no-active-note">
                No Note selected!
            </div>
            <div ng-if="FinderCtrl.model.activeNote">
                <div class="md-title" ng-bind="FinderCtrl.model.activeNote.title"></div>
                <div class="md-subhead" ng-bind="FinderCtrl.model.activeNote.description"></div>
                <md-list flex>
                    <md-list-item class="md-3-line noright"
                                  ng-repeat="(idx, f) in FinderCtrl.model.activeNote.uploadedFiles">
                        <file-type-icon type="f.type"></file-type-icon>

                        <div class="md-list-item-text" layout="column">
                            <h3>{{ f.newName }}</h3>
                            <h4>{{ f.size | size:'MB' }}</h4>
                            <p>{{ f.lastModifiedDate | date}}</p>
                            <span class="attachment-controls">
                            <i ng-click="FinderCtrl.downloadAttachment(f)" class="fa fa-download"></i>
                            <i class="fa fa-eye"
                               ng-click="FinderCtrl.previewAttachment(f)"
                               ng-if="(f.type.indexOf('image') === 0 || f.type.includes('pdf'))">
                            </i>
                        </span>
                            <!--<img ng-src="http://localhost:3333/get/5790892240a816c01de4bda0/90481b457a5e385187d8eb6e2d65bbbe">-->
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </div>

        <div ng-show="FinderCtrl.model.tab === 'profile'"
             class="profile-viewer">
            <div ng-if="!FinderCtrl.model.activeUser" class="md-headline no-active-note">
                No profile selected!
            </div>
            <div ng-if="FinderCtrl.model.activeUser" class="profile" layout="row" layout-align="center start" flex>
                <div class="basic-details" flex-gt-sm="50" flex-xs="100" flex-sm="100">
                    <div class="profile-picture-container">
                        <img class="profile-picture" ng-src="{{FinderCtrl.model.activeUser.profilePicture}}"/><br>
                        <md-button md-no-ink class="md-primary" ng-if="!FinderCtrl.model.followingCurrent"
                                   ng-click="FinderCtrl.follow(FinderCtrl.model.activeUser._id)">
                            Follow
                        </md-button>
                        <md-button md-no-ink class="md-warn" ng-if="FinderCtrl.model.followingCurrent"
                                   ng-click="FinderCtrl.unFollow(FinderCtrl.model.activeUser._id)">
                            Unfollow
                        </md-button>
                    </div>
                    <div class="profile-item" flex layout="row">
                        <span class="key" flex="50">Full name</span>
                        <span class="value" flex="50">{{FinderCtrl.model.activeUser.firstName + ' ' + FinderCtrl.model.activeUser.lastName}}</span>
                    </div>
                    <div class="profile-item" flex layout="row">
                        <span class="key" flex="50">E-mail address</span>
                        <span class="value" flex="50">{{FinderCtrl.model.activeUser.email}}</span>
                    </div>
                    <div class="profile-item" flex layout="row">
                        <span class="key" flex="50">Date of birth</span>
                        <span class="value" flex="50">{{FinderCtrl.model.activeUser.dateOfBirth | date}}</span>
                    </div>
                    <div class="profile-item" flex layout="row">
                        <span class="key" flex="50">Country</span>
                        <span class="value" flex="50">{{FinderCtrl.model.activeUser.metadata.country}}</span>
                    </div>
                    <div class="profile-item" flex layout="row">
                        <span class="key" flex="50">City</span>
                        <span class="value" flex="50">{{FinderCtrl.model.activeUser.metadata.city}}</span>
                    </div>
                    <div class="profile-item" flex layout="row">
                        <span class="key" flex="50">School</span>
                        <span class="value" flex="50">{{FinderCtrl.model.activeUser.metadata.school}}</span>
                    </div>
                    <div class="profile-item" flex layout="row">
                        <span class="key" flex="50">Interests</span>
                        <span class="value" flex="50">{{FinderCtrl.model.activeUser.metadata.interests}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
