<div ng-controller="MessagesCtrl as MessagesCtrl">
    <div class="app-menu" layout="row" layout-wrap>
        <div ng-click="MessagesCtrl.changeTab('messages')"
             class="upload-menu-item"
             flex-gt-lg="10"
             flex-lg="20"
             flex-md="33"
             flex-sm="50"
             flex-xs="100"
             ng-class="{'active-menu md-whiteframe-5dp' : MessagesCtrl.model.tab === 'messages'}">
            <div layout="row">
                <div flex="20">
                    <i class="fa fa-envelope"></i>
                </div>
                <div flex="80">
                    My Messages
                </div>
            </div>
        </div>
        <div ng-click="MessagesCtrl.changeTab('notifications')"
             class="upload-menu-item"
             flex-gt-lg="10"
             flex-lg="20"
             flex-md="33"
             flex-sm="50"
             flex-xs="100"
             ng-class="{'active-menu md-whiteframe-5dp' : MessagesCtrl.model.tab === 'notifications'}">
            <div layout="row">
                <div flex="20">
                    <i class="fa fa-bell"></i>
                </div>
                <div flex="80">
                    Notifications
                </div>
            </div>
        </div>
    </div>

    <div ng-show="MessagesCtrl.model.tab === 'messages'"
         layout="row" layout-wrap>
        <div flex-gt-sm="30" flex-xs="100" flex-sm="100" flex>
            <user-finder shared-with="MessagesCtrl.selectedContacts"
                         contacts="[]"
                         type="'conversation'">
                <md-list-item class="message-item" ng-click="MessagesCtrl.createConversation()">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    <div class="md-list-item-text new-conversation" layout="column">
                        <p>New conversation</p>
                    </div>
                </md-list-item>
            </user-finder>

            <md-list flex class="conversation-list">
                <md-list-item class="md-3-line message-item"
                              ng-repeat="conversation in MessagesCtrl.model.conversations"
                              ng-click="MessagesCtrl.selectConversation(conversation)">
                    <img ng-if="conversation.profileImages.length === 1" ng-src="{{conversation.profileImages[0]}}"
                         class="md-avatar"/>
                    <span ng-if="conversation.profileImages.length > 1" class="md-avatar">
                        <i class="fa fa-users multiple-users"></i>
                    </span>
                    <div class="md-list-item-text" layout="column">
                        <span ng-repeat="name in conversation.names">
                            {{ name }}
                            <span ng-if="conversation.names.indexOf(name) < conversation.names.length - 1">, </span>
                        </span>
                        <p>{{ conversation.updated | date}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>

        <div flex-gt-sm="40" flex-xs="100" flex-sm="100" flex layout="column"
             ng-if=" MessagesCtrl.model.active.conversation">
            <div class="active-msg-container app-container">
                <div flex ng-repeat="message in MessagesCtrl.model.active.messages"
                     ng-click="null" class="active-msg-item">
                    <div class="msg-container other-msg" layout="row" ng-if="!MessagesCtrl.checkIfMyMessage(message.owner)">
                        <div class="msg-content" >
                            <span class="msg-sent" flex="5">{{ message.created | date }}</span>
                            <span class="msg-text" flex="95">{{ message.text }}</span>
                            <!--<span class="msg-owner" flex="15"-->
                            <!--ng-if="!MessagesCtrl.checkIfMyMessage(message.owner)">{{ message.name }}-->
                            <!--</span>-->
                        </div>
                        <img ng-src="{{message.profilePicture}}" class="md-avatar chat-icon"/>
                    </div>
                    <div class="msg-container my-msg" layout="row"
                         ng-if="MessagesCtrl.checkIfMyMessage(message.owner)">
                        <img ng-src="{{message.profilePicture}}" class="md-avatar chat-icon"/>
                        <div class="msg-content">
                            <span class="msg-text" flex="95">{{ message.text }}</span>
                            <span class="msg-sent" flex="5">{{ message.created | date }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div layout="row" flex="">
                <md-input-container flex="90">
                    <label>Your message</label>
                    <input ng-model="MessagesCtrl.model.active.currentMessage"
                           ng-keydown="MessagesCtrl.sendMessage($event)">
                </md-input-container>
                <md-button class="md-raised md-primary send-msg-btn" flex="10"
                           ng-click="MessagesCtrl.sendMessage({keyCode: 13})">Send
                </md-button>
            </div>
        </div>

        <div flex-gt-sm="70" flex-xs="100" flex-sm="100" flex class="app-container no-conversation-selected-container"
             ng-if="!MessagesCtrl.model.active.conversation">
            <span class="message">No conversation selected</span>
        </div>
    </div>

    <div ng-show="MessagesCtrl.model.tab === 'notifications'">
        <md-list flex class="notification-list">
            <md-list-item class="md-3-line" ng-repeat="notification in MessagesCtrl.model.notifications"
                          ng-click="null">
                <!--<img src="http://media0.giphy.com/media/SS7l9AjlvaiJi/200_s.gif" class="md-avatar"/>-->
                <span class="md-avatar">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
                <div class="md-list-item-text" layout="column">
                    <h3>{{ notification.title }}</h3>
                    <h4>{{ notification.message }}</h4>
                    <p>{{ notification.created | date}}</p>
                </div>
            </md-list-item>
        </md-list>
    </div>
</div>
