<div ng-controller="NoteListCtrl as NoteListCtrl"
     class="note-list">
    <div class="app-menu" layout="row" layout-wrap>
        <div ng-click="NoteListCtrl.changeTab('my')"
             class="upload-menu-item"
             flex-gt-lg="10"
             flex-lg="20"
             flex-md="33"
             flex-sm="50"
             flex-xs="100"
             ng-class="{'active-menu md-whiteframe-5dp' : NoteListCtrl.model.tab === 'my'}">
            <div layout="row">
                <div flex="20">
                    <i class="fa fa-sticky-note-o"></i>
                </div>
                <div flex="80">
                    My Notes
                </div>
            </div>
        </div>
        <div ng-click="NoteListCtrl.changeTab('shared')"
             class="upload-menu-item"
             flex-gt-lg="10"
             flex-lg="20"
             flex-md="33"
             flex-sm="50"
             flex-xs="100"
             ng-class="{'active-menu md-whiteframe-5dp' : NoteListCtrl.model.tab === 'shared'}">
            <div layout="row">
                <div flex="20">
                    <i class="fa fa-share-alt"></i>
                </div>
                <div flex="80">
                    Shared with me
                </div>
            </div>
        </div>
        <div ng-click="NoteListCtrl.changeTab('favourites')"
             class="upload-menu-item"
             flex-gt-lg="10"
             flex-lg="20"
             flex-md="33"
             flex-sm="50"
             flex-xs="100"
             ng-class="{'active-menu md-whiteframe-5dp' : NoteListCtrl.model.tab === 'favourites'}">
            <div layout="row">
                <div flex="20">
                    <i class="fa fa-star"></i>
                </div>
                <div flex="80">
                    Favourites
                </div>
            </div>
        </div>
        <div ng-click="NoteListCtrl.changeTab('viewer')"
             class="upload-menu-item"
             flex-gt-lg="10"
             flex-lg="20"
             flex-md="33"
             flex-sm="50"
             flex-xs="100"
             ng-class="{'active-menu md-whiteframe-5dp' : NoteListCtrl.model.tab === 'viewer'}">
            <div layout="row">
                <div flex="20">
                    <i class="fa fa-eye"></i>
                </div>
                <div flex="80">
                    Viewer
                </div>
            </div>
        </div>
    </div>

    <div class="app-container">
        <div ng-show="NoteListCtrl.model.tab === 'my'">
            <md-list flex>
                <md-list-item class="md-3-line noright"
                              ng-repeat="(index, note) in NoteListCtrl.model.notes">
                    <div class="md-list-item-text" layout="column">
                    <span ng-click="NoteListCtrl.open(note)"
                          class="note-item">
                         <h3>{{ note.title }}</h3>
                        <p>Created: {{ note.created | date}}, Modified: {{ note.modified | date }}</p>
                    </span>

                        <div flex class="note-details">
                            <likes note="note"></likes>

                            <span class="note-controls">
                            <i class="fa fa-pencil" ng-click="NoteListCtrl.edit(note)"></i>
                            <i class="fa fa-trash" ng-click="NoteListCtrl.remove(index, note)"></i>
                        </span>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </div>

        <div ng-show="NoteListCtrl.model.tab === 'shared'">
            <md-list flex>
                <md-list-item class="md-3-line"
                              ng-repeat="(index, note) in NoteListCtrl.model.shared" class="noright">
                    <div class="md-list-item-text" layout="column">
                    <span ng-click="NoteListCtrl.open(note)"
                          class="note-item">
                        <h3>{{ note.title }}</h3>
                        <h4>{{ note.ownerName }}</h4>
                        <!--<p>Created: {{ note.created | date}}, Modified: {{ note.modified | date }}</p>-->
                    </span>

                        <div flex class="note-details">
                            <likes note="note"></likes>

                            <span class="privacy-details">
                            <i ng-show="NoteListCtrl.showPrivacy(note.privacy, 'public')" class="fa fa-unlock"
                               aria-hidden="true"></i>
                            <i ng-show="NoteListCtrl.showPrivacy(note.privacy, 'private')" class="fa fa-lock"
                               aria-hidden="true"></i>
                            <i ng-show="NoteListCtrl.showPrivacy(note.privacy, 'custom')" class="fa fa-share-alt"
                               aria-hidden="true"></i>
                        </span>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </div>

        <div ng-show="NoteListCtrl.model.tab === 'viewer'"
             class="note-viewer">
            <div class="app-container">
                <div ng-if="!NoteListCtrl.noteModel" class="md-headline no-active-note">
                    No Note selected!
                </div>
                <div ng-if="NoteListCtrl.noteModel">
                    <h3>Title</h3>
                    <div class="md-title" ng-bind="NoteListCtrl.noteModel.title"></div>

                    <h3>Description</h3>
                    <div class="md-subhead" ng-bind="NoteListCtrl.noteModel.description"></div>

                    <h3>Attachments</h3>
                    <md-list flex>
                        <md-list-item class="md-3-line noright" ng-repeat="(idx, f) in NoteListCtrl.noteModel.uploadedFiles">
                            <file-type-icon type="f.type"></file-type-icon>

                            <div class="md-list-item-text" layout="column">
                                <h3>{{ f.newName }}</h3>
                                <h4>{{ f.size | size:'MB' }}</h4>
                                <p>{{ f.lastModifiedDate | date}}</p>
                                <span class="attachment-controls">
                            <i ng-click="NoteListCtrl.downloadAttachment(f)" class="fa fa-download"></i>
                            <i class="fa fa-eye"
                               ng-click="NoteListCtrl.previewAttachment(f)"
                               ng-if="(f.type.indexOf('image') === 0 || f.type.includes('pdf'))">
                            </i>
                        </span>
                                <!--<img ng-src="http://localhost:3333/get/5790892240a816c01de4bda0/90481b457a5e385187d8eb6e2d65bbbe">-->
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </div>

        <div ng-show="NoteListCtrl.model.tab === 'favourites'">
            <md-list flex>
                <md-list-item class="md-3-line noright"
                              ng-repeat="(index, note) in NoteListCtrl.model.favourites">
                    <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />-->
                    <div class="md-list-item-text" layout="column">
                    <span ng-click="NoteListCtrl.open(note)"
                          class="note-item">
                        <h3>{{ note.title }}</h3>
                        <h4>{{ note.ownerName }}</h4>
                        <!--<h4>{{ note.description }}</h4>-->
                        <!--<p>Created: {{ note.created | date}}, Modified: {{ note.modified | date }}</p>-->
                    </span>

                        <div flex class="note-details">
                            <likes note="note"></likes>

                            <span class="privacy-details">
                            <i ng-show="NoteListCtrl.showPrivacy(note.privacy, 'public')" class="fa fa-unlock"
                               aria-hidden="true"></i>
                            <i ng-show="NoteListCtrl.showPrivacy(note.privacy, 'private')" class="fa fa-lock"
                               aria-hidden="true"></i>
                            <i ng-show="NoteListCtrl.showPrivacy(note.privacy, 'custom')" class="fa fa-share-alt"
                               aria-hidden="true"></i>
                        </span>

                            <span class="favourite-add">
                            <i class="fa fa-star" aria-hidden="true"
                               ng-click="NoteListCtrl.removeFromFavourite(note._id)"></i>
                        </span>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </div>
</div>
