<div ng-controller="NoteUploadCtrl as NoteUploadCtrl">
    <div class="app-menu" layout="row" layout-wrap>
        <div ng-click="NoteUploadCtrl.changeTab('basic')"
             class="upload-menu-item"
             flex-gt-lg="10"
             flex-lg="20"
             flex-md="33"
             flex-sm="50"
             flex-xs="100"
             ng-class="{'active-menu md-whiteframe-5dp' : NoteUploadCtrl.model.tab === 'basic'}">
            <div layout="row">
                <div flex="20">
                    <i class="fa fa-cog"></i>
                </div>
                <div flex="80">
                    Details
                </div>
            </div>
        </div>
        <div ng-click="NoteUploadCtrl.changeTab('attachments')"
             class="upload-menu-item"
             flex-gt-lg="10"
             flex-lg="20"
             flex-md="33"
             flex-sm="50"
             flex-xs="100"
             ng-class="{'active-menu md-whiteframe-5dp' : NoteUploadCtrl.model.tab === 'attachments'}">
            <div layout="row">
                <div flex="20">
                    <i class="fa fa-paperclip"></i>
                </div>
                <div flex="80">
                    Attachments
                </div>
            </div>
        </div>
        <div class="upload-menu-item upload-finalize"
             ng-click="NoteUploadCtrl.showFinalize($event)"
             flex-gt-lg="10"
             flex-lg="20"
             flex-md="33"
             flex-sm="50"
             flex-xs="100">
            <div layout="row">
                <div flex="20">
                    <i class="fa fa-check-circle-o"></i>
                </div>
                <div flex="80">
                    Save and close
                </div>
            </div>
        </div>
    </div>
    <div class="app-container">
        <div id="basic-details" ng-show="NoteUploadCtrl.model.tab === 'basic'">
            <h3>Title</h3>
            <md-input-container class="upload-note">
                <label for="note-title">Title</label>
                <input type="text" name="note-title" id="note-title" ng-model="NoteUploadCtrl.model.note.title"
                       ng-model-options="{ debounce: 300 }"/>
            </md-input-container>

            <h3>Description</h3>
            <md-input-container class="upload-note">
                <label for="note-description">Description</label>
                <textarea name="note-description" id="note-description" ng-model="NoteUploadCtrl.model.note.description"
                          ng-model-options="{ debounce: 300 }"></textarea>
            </md-input-container>

            <h3>Privacy</h3>
            <div>
                <md-button class="md-raised"
                           ng-disabled="NoteUploadCtrl.model.note.privacy === 'public'"
                           ng-click="NoteUploadCtrl.setPrivacy('public')">
                    Public
                </md-button>
                <md-button class="md-raised"
                           ng-disabled="NoteUploadCtrl.model.note.privacy === 'private'"
                           ng-click="NoteUploadCtrl.setPrivacy('private')">
                    Private
                </md-button>
                <md-button class="md-raised"
                           ng-disabled="NoteUploadCtrl.model.note.privacy === 'custom'"
                           ng-click="NoteUploadCtrl.setPrivacy('custom')">
                    Custom
                </md-button>

                <div class="custom-privacy-container" ng-if="NoteUploadCtrl.model.note.privacy === 'custom'">
                    <user-finder shared-with="NoteUploadCtrl.model.note.sharedWith"
                                 contacts="NoteUploadCtrl.contacts"
                                 type="'noteShare'">
                        <md-button class="md-raised add-people">
                            <i class="material-icons">group_add</i>
                        </md-button>
                    </user-finder>

                    <md-chips readonly="true"
                              ng-model="NoteUploadCtrl.contacts"
                              md-contact-name="name"
                              md-contact-image="image"
                              md-contact-email="email">
                        <md-chip-template>
                            <span>
                              <strong>{{$chip.firstName + ' ' + $chip.lastName}}</strong>
                              <em>({{$chip.email}})</em>
                            </span>
                        </md-chip-template>
                    </md-chips>
                </div>
                </md-input-container>
            </div>
        </div>
        <div id="attachments" ng-show="NoteUploadCtrl.model.tab === 'attachments'">
            <div class="uploaded-files">
                <i class="fa fa-cloud-upload note-upload-icon" aria-label="Upload note"
                   ng-model="NoteUploadCtrl.model.files"
                   ngf-multiple="true" ngf-allow-dir="true" ngf-select
                   ngf-change="NoteUploadCtrl.upload(NoteUploadCtrl.model.files)"></i>
            </div>
            <div id="uploaded-file-details-container">
                <md-list flex>
                    <md-list-item class="md-3-line noright" ng-repeat="(idx, f) in NoteUploadCtrl.uploadedFiles">
                        <file-type-icon type="f.type"></file-type-icon>

                        <div class="md-list-item-text" layout="column">
                            <h3 ng-show="!f.editing">{{ f.newName ? f.newName : f.name }}</h3>
                            <md-input-container ng-show="f.editing"
                                                class="uploaded-attachment-input">
                                <label>Attachment name</label>
                                <input ng-model="f.newName" class="attachment-input" flex="70">
                            </md-input-container>
                            <h4>{{ f.size | size:'MB' }}</h4>
                            <p>{{ f.lastModifiedDate | date}}</p>

                            <span class="attachment-controls">
                            <i class="fa fa-trash" ng-show="f.newName"
                               ng-click="NoteUploadCtrl.deleteFile(f.name, idx)"></i>
                            <i class="fa fa-eye" ng-if="(f.type.indexOf('image') === 0 || f.type.includes('pdf'))"
                               ng-click="NoteUploadCtrl.previewAttachment(f)"></i>
                            <i class="fa fa-pencil-square" ng-show="f.newName && !f.editing"
                               ng-click="NoteUploadCtrl.toggleEditing(idx)"></i>
                            <i class="fa fa-check-circle" ng-show="f.editing"
                               ng-click="NoteUploadCtrl.toggleEditing(idx)"></i>
                            </span>

                            <md-progress-linear md-mode="determinate" value="{{f.progressPercentage}}"
                                                ng-show="f.progressPercentage != 100 && !f.newName">
                            </md-progress-linear>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </div>
</div>