<div ng-controller="ProfileCtrl as ProfileCtrl">
    <div class="app-menu" layout="row" layout-wrap>
        <div ng-click="ProfileCtrl.changeMode()"
             class="upload-menu-item profile-finalize"
             flex-gt-lg="10"
             flex-lg="20"
             flex-md="33"
             flex-sm="50"
             flex-xs="100"
             ng-if="ProfileCtrl.model.mode === 'show'">
            <div layout="row">
                <div flex="20">
                    <i class="fa fa-cog"></i>
                </div>
                <div flex="80">
                    Edit profile
                </div>
            </div>
        </div>
        <div ng-click="ProfileCtrl.changeMode()"
             class="upload-menu-item profile-finalize"
             flex-gt-lg="10"
             flex-lg="20"
             flex-md="33"
             flex-sm="50"
             flex-xs="100"
             ng-if="ProfileCtrl.model.mode === 'edit'">
            <div layout="row">
                <div flex="20">
                    <i class="fa fa-check"></i>
                </div>
                <div flex="80">
                    Done
                </div>
            </div>
        </div>
    </div>

    <div class="app-container">
        <div ng-if="ProfileCtrl.model.mode === 'show'" class="profile" layout="row"
             layout-xs="column" layout-align="center start" flex>
            <div class="basic-details" flex-gt-xs="50" flex-xs="100">
                <div class="profile-picture-container">
                    <img class="profile-picture" ng-src="{{ProfileCtrl.model.user.profilePicture}}"/><br>
                    <span ng-model="ProfileCtrl.model.user.profilePicture"
                          class="change-profile-picture"
                          ngf-multiple="false" ngf-allow-dir="false" ngf-select
                          ngf-change="ProfileCtrl.upload(ProfileCtrl.model.user.profilePicture)">
                        Change profile picture</span>
                </div>
                <div class="profile-item" flex layout="row">
                    <span class="key" flex="50">Full name</span>
                    <span class="value" flex="50">{{ProfileCtrl.model.user.firstName + ' ' + ProfileCtrl.model.user.lastName}}</span>
                </div>
                <div class="profile-item" flex layout="row">
                    <span class="key" flex="50">E-mail address</span>
                    <span class="value" flex="50">{{ProfileCtrl.model.user.email}}</span>
                </div>
                <div class="profile-item" flex layout="row">
                    <span class="key" flex="50">Date of birth</span>
                    <span class="value" flex="50">{{ProfileCtrl.model.user.dateOfBirth | date}}</span>
                </div>
                <div class="profile-item" flex layout="row">
                    <span class="key" flex="50">Country</span>
                    <span class="value" flex="50">{{ProfileCtrl.model.user.metadata.country}}</span>
                </div>
                <div class="profile-item" flex layout="row">
                    <span class="key" flex="50">City</span>
                    <span class="value" flex="50">{{ProfileCtrl.model.user.metadata.city}}</span>
                </div>
                <div class="profile-item" flex layout="row">
                    <span class="key" flex="50">School</span>
                    <span class="value" flex="50">{{ProfileCtrl.model.user.metadata.school}}</span>
                </div>
                <div class="profile-item" flex layout="row">
                    <span class="key" flex="50">Interests</span>
                    <span class="value" flex="50">{{ProfileCtrl.model.user.metadata.interests}}</span>
                </div>
            </div>
            <div flex-gt-xs="50" flex-xs="100">
                <div class="followers" flex="100">
                    <h3>Followers</h3>
                    <div class="user-frame-wrapper" flex>
                        <div class="user-frame" ng-repeat="(index, person) in ProfileCtrl.model.followersList"
                             ng-click="ProfileCtrl.viewProfile(person)">
                            <image class="small" ng-src="{{person.profilePicture}}"></image>
                            <div class="name">{{person.firstName + ' ' + person.lastName}}</div>
                        </div>
                    </div>
                </div>
                <div class="followers" flex="100">
                    <h3>Following</h3>
                    <div class="user-frame-wrapper" flex>
                        <div class="user-frame" ng-repeat="(index, person) in ProfileCtrl.model.followingsList">
                            <img class="small" ng-click="ProfileCtrl.viewProfile(person)"
                                 ng-src="{{person.profilePicture}}"/>
                            <div class="name" ng-click="ProfileCtrl.viewProfile(person)">{{person.firstName + ' ' +
                                person.lastName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="ProfileCtrl.model.mode === 'edit'" class="profile" layout="row"
             layout-xs="column" layout-align="center start" flex>
            <div class="basic-details" flex-gt-xs="50" flex-xs="100">
                <div class="profile-picture-container">
                    <img class="profile-picture" ng-src="{{ProfileCtrl.model.user.profilePicture}}"/><br>
                    <span ng-model="ProfileCtrl.model.user.profilePicture"
                          class="change-profile-picture"
                          ngf-multiple="false" ngf-allow-dir="false" ngf-select
                          ngf-change="ProfileCtrl.upload(ProfileCtrl.model.user.profilePicture)">
                        Change profile picture</span>
                </div>
                <div class="profile-item" flex layout="row">
                    <span class="key" flex="50">First name</span>
                    <span class="value" flex="50">
                        <md-input-container>
                            <label>First name</label>
                            <input type="text" ng-model="ProfileCtrl.model.user.firstName"
                                   ng-change="ProfileCtrl.update()"
                                   ng-model-options="{ debounce: 500 }">
                        </md-input-container>
                    </span>
                </div>
                <div class="profile-item" flex layout="row">
                    <span class="key" flex="50">Last name</span>
                    <span class="value" flex="50">
                        <md-input-container>
                            <label>Last name</label>
                            <input type="text" ng-model="ProfileCtrl.model.user.lastName"
                                   ng-change="ProfileCtrl.update()"
                                   ng-model-options="{ debounce: 500 }">
                        </md-input-container>
                    </span>
                </div>
                <div class="profile-item" flex layout="row">
                    <span class="key" flex="50">E-mail address</span>
                    <span class="value" flex="50">
                        <md-input-container>
                            <label>E-mail address</label>
                            <input type="text" ng-model="ProfileCtrl.model.user.email"
                                   ng-change="ProfileCtrl.update()"
                                   ng-model-options="{ debounce: 500 }">
                        </md-input-container>
                    </span>
                </div>
                <div class="profile-item" flex layout="row">
                    <span class="key" flex="50">Country</span>
                    <span class="value" flex="50">
                        <md-input-container>
                            <label>Country</label>
                            <input type="text" ng-model="ProfileCtrl.model.user.metadata.country"
                                   ng-change="ProfileCtrl.update()"
                                   ng-model-options="{ debounce: 500 }">
                        </md-input-container>
                    </span>
                </div>
                <div class="profile-item" flex layout="row">
                    <span class="key" flex="50">City</span>
                    <span class="value" flex="50">
                        <md-input-container>
                            <label>City</label>
                            <input type="text" ng-model="ProfileCtrl.model.user.metadata.city"
                                   ng-model-options="{ debounce: 500 }">
                        </md-input-container>
                    </span>
                </div>
                <div class="profile-item" flex layout="row">
                    <span class="key" flex="50">School</span>
                    <span class="value" flex="50">
                        <md-input-container>
                            <label>School</label>
                            <input type="text" ng-model="ProfileCtrl.model.user.metadata.school"
                                   ng-change="ProfileCtrl.update()"
                                   ng-model-options="{ debounce: 500 }">
                        </md-input-container>
                    </span>
                </div>
                <div class="profile-item" flex layout="row">
                    <span class="key" flex="50">Interests</span>
                    <span class="value" flex="50">
                        <md-input-container>
                            <label>Interests</label>
                            <input type="text" ng-model="ProfileCtrl.model.user.metadata.interests"
                                   ng-change="ProfileCtrl.update()"
                                   ng-model-options="{ debounce: 500 }">
                        </md-input-container>
                    </span>
                </div>
            </div>

            <div flex-gt-xs="50" flex-xs="100">
                <div flex-gt-xs="50" flex-xs="100">
                    <div class="followers" flex="100">
                        <h3>Followers</h3>
                        <div class="user-frame-wrapper" flex>
                            <div class="user-frame" ng-repeat="(index, person) in ProfileCtrl.model.followersList"
                                 ng-click="ProfileCtrl.viewProfile(person)">
                                <image class="small" ng-src="{{person.profilePicture}}"></image>
                                <div class="name">{{person.firstName + ' ' + person.lastName}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="followers" flex="100">
                        <h3>Following</h3>
                        <div class="user-frame-wrapper" flex>
                            <div class="user-frame" ng-repeat="(index, person) in ProfileCtrl.model.followingsList">
                                <i class="fa fa-times-circle remove-follower"
                                   ng-click="ProfileCtrl.unFollow(person)"></i>
                                <img class="small" ng-click="ProfileCtrl.viewProfile(person)"
                                     ng-src="{{person.profilePicture}}"/>
                                <div class="name" ng-click="ProfileCtrl.viewProfile(person)">{{person.firstName + ' ' +
                                    person.lastName}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
