<md-dialog aria-label="Image preview">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Image preview - {{DialogController.imageName}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="DialogController.cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <img style="margin: auto; max-width: 100%; max-height: 60vh;" ng-src="{{DialogController.imagePath}}">
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="DialogController.cancel()">
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>