<md-dialog aria-label="Find people" class="user-frame-dialog">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Find people</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="DialogController.close()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="content-container">
            <div class="md-dialog-content" flex>
                <md-input-container flex="100" class="search-field">
                    <input type="text" placeholder="Start typing"
                           ng-model="DialogController.searchedString"
                           ng-change="DialogController.queryUsers(DialogController.searchedString)"
                           ng-model-options="{'debounce': 500}"/>
                </md-input-container>
                <div class="user-frame-wrapper" flex="100">
                    <div class="user-frame" ng-repeat="(index, person) in DialogController.people"
                         ng-class="{'selected': person.checked}"
                         ng-click="DialogController.selectPerson(index, person)">
                        <i class="material-icons selected" ng-if="person.checked">check_box</i>
                        <image ng-src="{{person.profilePicture}}"></image>
                        <span class="name">{{person.firstName + ' ' + person.lastName}}</span>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="DialogController.close()">
                Done
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>