<span class="attachment-icon">
    <span ng-if="type === 'application/vnd.ms-excel' ||
             type === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
    <i class="fa fa-file-excel-o md-avatar" aria-hidden="true"></i>
    </span>
    <span ng-if="type === 'text/plain'">
        <i class="fa fa-file-text-o md-avatar" aria-hidden="true"></i>
    </span>
    <span ng-if="type === 'application/pdf'">
        <i class="fa fa-file-pdf-o md-avatar" aria-hidden="true"></i>
    </span>
    <span ng-if="type === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'">
        <i class="fa fa-file-word-o md-avatar" aria-hidden="true"></i>
    </span>
    <span ng-if="type === 'application/octet-stream'">
        <i class="fa fa-file-code-o md-avatar" aria-hidden="true"></i>
    </span>
    <span ng-if="type.indexOf('video') == 0">
        <i class="fa fa-file-video-o md-avatar" aria-hidden="true"></i>
    </span>
    <span ng-if="type.indexOf('image') == 0">
        <i class="fa fa-file-image-o md-avatar" aria-hidden="true"></i>
    </span>
    <span ng-if="type.indexOf('compressed') >= 0">
        <i class="fa fa-file-archive-o md-avatar" aria-hidden="true"></i>
    </span>
</span>
