<span class="likes" ng-click="ctrl.like()">
    {{ ctrl.note.liked.length }} <i class="fa fa-thumbs-up" aria-hidden="true"></i>
</span>
<span class="dislikes" ng-click="ctrl.dislike()">
    {{ ctrl.note.disliked.length }}<i class="fa fa-thumbs-down" aria-hidden="true"></i>
</span>
