.dashboard-wrapper {
    .dashboard-item {
        animation: fadeFromTop ease-out 0.4s;
        outline: none !important;
        font-size: 12px;
        background-color: #ffffff;
        border: 1px solid #cecece;
        border-radius: 2px;
        margin: 10px 0;
        padding: 15px;

        .details {
            padding: 0 20px;

            likes {
                position: relative;
                top: 5px;
            }
        }

        .profile-picture {
            cursor: pointer;
            width: 60px;
            height: 60px;
            border-radius: 100%;
        }

        .title {
            cursor: pointer;
            font-size: 14px;
        }

        .text {
            cursor: pointer;
        }

        .owner-name {
            cursor: pointer;
            font-weight: bold
        }
    }
}

@media (min-width: 960px) {
    .dashboard-hints {
        padding-left: 15px;
    }
}

.dashboard-hints {
    .hint {
        animation: fadeFromTop ease-out 0.4s;
        font-size: 13px;
        border-radius: 2px;
        margin: 10px 0;
        padding: 15px;

        .keyword {
            color: #ff0000;
        }

        &.red {
            background-color: rgba(255, 13, 0, 0.15);
            border: 1px solid rgba(253, 0, 0, 0.26);
        }
    }
}
