likes {
    outline: none !important;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 5px;

    .dislikes {
        color: rgba(255,79,79, 0.6);
        border-radius: 5px;
        background-color: rgba(255, 79, 79, 0.09);
        padding: 3px 6px 3px 6px;
        margin-left: 10px;

        i {
            padding-left: 3px;
        }

        &:hover {
            color: rgba(255,79,79, 1);
            cursor: pointer;
        }
    }

    .likes {
        color: rgba(0, 112, 255, 0.6);
        border-radius: 5px;
        background-color: rgba(48, 150, 255, 0.09);
        padding: 3px 6px 3px 6px;

        &:hover {
            color: rgba(0, 114, 255, 1);
            cursor: pointer;
        }
    }
}