@keyframes loadingFadeIn {
    from {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }

    to {
        -webkit-filter: blur(2px);
        filter: blur(2px);
    }
}

.content-loading {
    animation: loadingFadeIn 1s;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.loading-wrapper {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading-wrapper:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}