@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.login-wrapper {
    background: #efefef;
    min-height: 100%;

    .active-password-viewer {
        outline: 0;
        font-size: 26px;
        cursor: pointer;
    }

    .login-title {
        color: #F44336;
        padding: 10px 10px 10px 10px;
    }

    .display-block {
        display: block;
    }

    .active-password-viewer-active {
        color: red;
    }

    .registration-panel {
        margin: auto;

        .register-title {
            @extend .login-title;
        }

        & input {
            margin-right: 15px;
        }

        md-datepicker {
            background: inherit;
        }

        .register-wrapper {
            padding: 15px;
        }

        .registration-available {
            background-color: #4CAF50;
        }

        #registrationPanelPassword {
            width: 80%;
        }

        .registration-send-panel {
            text-align: center;
            display: inherit;
            padding-bottom: 0;
        }
    }

    .login-box {
        background: rgba(255, 255, 255, 0.63);
        margin: 2vw;
        max-height: 284px !important;
    }

    .register-box {
        margin: 2vw;
        padding: 10px;
        background: rgba(255, 255, 255, 0.63);
    }

    .login-row {
        margin-top: 5%;
    }

    .login-user-icon {
        font-size: 24px;
        top: 6px;
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
    }

    .login-password-icon {
        @extend .login-user-icon;
        margin-left: 12px;
    }

    .login-label-with-icon {
        color: #8c8c8c;
        display: block;
        margin-left: 42px !important;
    }

    .login-input {
        width: 95%;
        margin: 10px 0;
        display: inline-flex !important;
    }

    .login-buttons {
        margin: 0;
    }

    .login-invisible-background {
        background-color: rgba(0, 0, 0, 0) !important;
    }
}
