$solid-main-blue: rgba(3, 169, 244, 0.77);
$solid-secondary-blue: rgb(63, 81, 181);
$solid-very-light-blue: rgba(192, 239, 255, 0.2);
$solid-menubar-gray: rgb(62, 62, 62);
$solid-error-red: #FF0000;
$solid-main-green: #00ff07;

@import 'themes';
@import 'notes';
@import 'likes';
@import 'loader';
@import 'login';
@import 'upload';
@import 'user';
@import 'dashboard';
@import 'profile';
@import 'messages';

html {
    height: 100%;
}

body {
    min-height: 100%;
    height: initial;
    background-color: #f1f1f1;
    animation: fadeInBody 0.4s linear;
    font-family: 'Open Sans', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

@media (max-width: 600px) {
    .running-applications {
        padding-top: 10px;
        text-align: left;
    }
}

@media (min-width: 600px) {
    .running-applications {
        text-align: right;
    }
}

@keyframes fadeInBody {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes openApp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeFromTop {
    from {
        position: relative;
        top: -50px;
        opacity: 0;
    }

    to {
        position: relative;
        top: 0px;
        opacity: 1;
    }
}

md-input-container:not(.md-input-has-value) {
    & label {
        color: #cacaca;
    }
}

md-list-item:not(.message-item) {
    animation: fadeFromTop ease-out 0.4s;
    background-color: white !important;
    border: 1px solid #d0d0d0;
    padding: 10px 10px 0 10px !important;
    border-radius: 2px;
    margin-bottom: 7px;
}

i, input, button {
    outline: none !important;
}

#current-running-application {
    animation: openApp 0.4s ease-out;
}

.attachment-controls {
    margin-bottom: 10px;
    font-size: 22px;

    i {
        cursor: pointer;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.profile-finalize:hover {
    background-color: #388E3C;
    color: #ffffff;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.main-get-button-small {
    display: none;
}

.main-get-button {
    position: absolute;
    right: 0;
    display: block;
    margin-top: 3px;
    background-color: $solid-main-green !important;
}

div.app-menu {
    font-size: 14px;
    & :focus {
        outline: 0;
    }
}

.new-conversation {
    padding: 0 10px;
}

div.app-container {
    padding: 30px 10px;
}

.blured-content {
    filter: blur(5px);
    pointer-events: none;
    cursor: none !important;
}

#login-top-menu {
    font-size: 14px;
    padding: 2px;
    height: 22px;
    color: white;
}

#login-bottom-menu {
    height: 45px;
    color: white;
}

.notification-icon {
    &:hover {
        opacity: 1;
        transition: 0.25s ease-in;
    }
    opacity: 0.8;
    transition: 0.25s ease-out;
}

.profile-info {
    padding-right: 5px;
    text-align: right;
    & * {
        display: inline;
    }
}

.project-title {
    padding-left: 5px;
}

.clickable {
    cursor: pointer;
}

.notification-panel {
    cursor: pointer;
    text-align: right;

    &-animated {
        animation: glowingText 2s infinite;
    }
}

.application-icon {
    transition: 0.25s ease-out;
    font-size: 26px;
    padding: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.application-icon.has-notification {
    animation: app-notification 1.25s;
    animation-iteration-count: 2;
}

.running-applications {
    & div {
        display: inline;
        vertical-align: middle;
    }
}

.menu-option-icon {
    padding-top: 10px;
    padding-right: 10px;
    pointer-events: none;
    cursor: default;
}

.get-applications-button {
    & i {
        padding-right: 10px;
        padding-top: 3px;
        font-size: 40px;
    }
    text-align: right;
}

.attachment-icon {
    font-size: 32px;
    padding-top: 10px;
}

#attachments {
    file-type-icon {
        padding-top: 15px;
    }
}

.main-options-button {
    & i {
        padding-left: 10px;
        padding-top: 8px;
        font-size: 28px;
    }
    padding-top: 3px !important;
}

.application-title {
    position: relative;
    transform: translateY(17%);
    & div {
        font-size: 24px;
    }
    padding-left: 5px;
    text-align: left;
}

.get-button {
    background-color: #76FF03;
}

.settings-icon {
    padding: 0 !important;
    height: auto !important;
    margin: 0 !important;
    line-height: inherit !important;
    width: inherit !important;
    min-height: inherit !important;
    border-radius: 0 !important;
}

.text-center {
    text-align: center;
}

.md-button {
    font-weight: bold;
}

.solid-logo {
    padding-top: 10px;
    text-align: center;
    font-size: 52px;
    font-weight: bold;
    color: #595959;
    cursor: default;
}

.solid-logo::first-letter {
    color: #2196F3;
    font-size: 64px;
}