.active-msg-container {
    padding: 10px;
    height: 55vh;
    overflow-y: auto;
}

.multiple-users {
    font-size: 23px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 100%;
    padding: 8px;
    background-color: #efefef;
}

.md-list-item-text {
    display: inline;
}

.my-msg {
    text-align: left;
}

.other-msg {
    text-align: right;
}

.no-conversation-selected-container {
    text-align: center;
}

.msg-container {
    display: block;
    padding: 5px 0;

    .msg-sent {
        font-size: 12px;
    }

    .msg-owner {
        font-size: 12px;
    }
}

.conversation-list {
    height: 70vh;
    overflow-y: auto;
}

.send-msg-btn {
    height: 40px;
}

.chat-icon {
    height: 32px !important;
    width: 32px !important;
}

.msg-content {
    display: inline-block;
    position: relative;
    top: -10px;
}

.active-msg-item {
    position: relative;
    right: 0;
}
