.note-list {
    .note-item {
        cursor: pointer;
        outline: none;
    }

    .note-details {
        padding-bottom: 10px;
        padding-top: 5px;

        .privacy-details, .note-controls {
            cursor: pointer;
            font-size: 22px;
            color: #5a5a5a;
        }

        .privacy-details {
            padding-left: 5px;
        }
    }
}

.favourite-add {
    font-size: 22px;
    padding: 0 5px;
    cursor: pointer;
}

.attachment-input {
    width: 400px !important;
}

.no-active-note {
    text-align: center;
    padding: 30px;
}

.note-viewer {
    .md-title {
        padding: 10px 15px 10px 15px;
    }

    .md-subhead {
        padding: 10px 15px 10px 15px;
    }
}

.note-controls {
    padding-right: 5px;
    padding-left: 10px;
    font-size: 22px;

    i {
        cursor: pointer;
        padding-left: 5px;
        padding-right: 5px;
    }
}