.profile {
    .profile-picture {
        width: 175px;
        height: 175px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
    }

    .change-profile-picture {
        color: #03A9F4;
        cursor: pointer;
        text-align: center;
        font-size: 14px;
    }

    .profile-picture-container {
        text-align: center;
        margin-bottom: 30px;
    }

    .profile-item {
        word-wrap: break-word;
        margin: 10px 0;

        .key {
            text-align: right;
            padding-right: 15px;
            font-weight: bold;
        }

        .value {
            text-align: left;
            padding-left: 15px;

            md-input-container {
                height: 10px;
                margin: 0;
                bottom: 7px;
                margin-bottom: 23px;
            }
        }
    }
}

.remove-follower {
    color: #ff0000;
    position: absolute;
    font-size: 24px;
}
