@mixin theme($color) {
    #login-top-menu, .application-icon:hover {
        background-color: map-get($color, element);
    }

    #login-bottom-menu, .active-app {
        height: auto;
        padding-bottom: 5px;
        background-color: map-get($color, bottom-menu);
    }

    .loader > svg > path {
        stroke: map-get($color, element) !important;
    }

    div.app-menu {
        background-color: map-get($color, bottom-menu);
        color: #ffffff;
    }

    div.active-menu {
        background-color: map-get($color, element);
    }
}

$theme-red: (
        element: #D32F2F,
        bottom-menu: #F44336
);

$theme-lightgreen: (
        element: #689F38,
        bottom-menu: #8BC34A
);

$theme-green: (
        element: #388E3C,
        bottom-menu: #4CAF50
);

$theme-blue: (
        element: #1976D2,
        bottom-menu: #2196F3
);

$theme-orange: (
        element: #F57C00,
        bottom-menu: #FF9800
);

$theme-purple: (
        element: #512DA8,
        bottom-menu: #673AB7
);

.theme-orange {
    @include theme($theme-orange);
}

.theme-red {
    @include theme($theme-red);
}

.theme-lightgreen {
    @include theme($theme-lightgreen);
}

.theme-blue {
    @include theme($theme-blue);
}

.theme-green {
    @include theme($theme-green);
}

.theme-purple {
    @include theme($theme-purple);
}


