@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.upload-container {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    &:hover {
        background-color: #FFE2C9;
        cursor: pointer;
    }
    i {
        font-size: 100px;
    }
}

.uploaded-files {
    text-align: center;
}

.note-upload-icon {
    font-size: 128px;
    border: 2px dashed #bbbbbb;
    border-radius: 100%;
    padding: 40px;
    background-color: #F3F3F3;
    cursor: pointer;
}

.upload-container {
    width: 100%;
    text-align: center;
}

.upload-note {
    input, textarea {
        width: 85vw;
        resize: none;
    }
}

.custom-privacy-container {
    .add-people {
        min-width: 40px;

        i {
            position: relative;
            top: 7px;
        }
    }
}

#uploaded-file-details-container {
    margin-top: 40px;
}

.uploaded-file-details {
    padding: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

.uploaded-file-details {
    i {
        cursor: pointer;
        font-size: 32px;
        padding-right: 20px;
        padding-top: 6px;
    }
}

.upload-menu-item {
    cursor: pointer;
    padding: 15px;
}

.upload-finalize:hover {
    background-color: #4CAF50;
    color: #ffffff;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.note-attachment-icon {
    font-size: 24px !important;
}

.uploaded-attachment-input {
    padding: 0px;
    margin: 35px 0 0 0;
}
