.user-frame-dialog {
    width: 75vw;

    .content-container {
        display: block !important;
    }

    .search-field {
        width: 70vw;
    }

    .user-frame {
        cursor: pointer;
        width: 150px;
        display: inline-block;
        margin: 5px;
        padding: 10px;
        outline: 0;
        text-align: center;

        span.name {
            font-weight: bold;
        }

        i.selected {
            float: right;
            color: rgb(0, 218, 0);
        }

        &.selected {
            border: 1px solid #5faae0;
            background-color: rgba(95, 170, 224, 0.28);
            padding: 9px !important;
        }

        img {
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            width: 150px;
            height: 150px;
        }
    }
}

img.md-avatar {
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.user-frame-wrapper {
    .user-frame {
        cursor: pointer;
        display: inline-block;
        margin: 15px;

        img:not(.small) {
            width: 150px;
            height: 150px;
            border-radius: 100%;
        }

        img.small {
            width: 100px;
            height: 100px;
            border-radius: 100%;
        }

        .name {
            font-weight: bold;
            padding-top: 5px;
            text-align: center;
        }
    }
}